/build/
/distrib/
/firmwares/*
/venv/
/boards.local.txt
/platform.local.txt
/loader/VERSION
/cores/arduino/api/

__pycache__/

llext-edk/
cflags.txt
cxxflags.txt
machine_flags.txt
includes.txt
syms-dynamic.ld
syms-static.ld
tls-syms.S

# Bring-up credentials for CONFIG_ARDUINO_POUCH (see pouch_credentials.h.example)
/loader/pouch_credentials.h
